<h1 class="text-white fs-1 fw-bolder m-3">Pages App</h1>

<nav class="m-3">
  <ul class="pagination">
    <li [appClass]="{ disabled: currentPage === 0 }" class="page-item">
      <a (click)="currentPage = currentPage - 1" class="page-link">Prev</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
    <li
      class="page-item"
      [appClass]="{ active: i === currentPage }"
      
      *ngIf="checkWindowIndex(i)"
    >
      <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
    </li>
  </ng-container>
    <li
      [appClass]="{ disabled: currentPage === images.length - 1 }"
      class="page-item"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>
<div class="m-3">
  <h4 class="text-warning fs-3 fw-bolder pb-4 pt-4">{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>

<div class="m-3 text-white fs-4 fw-bolder" [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is One
  </div>
  <div *ngSwitchCase="1">
    Current Page is Two
  </div>
  <div *ngSwitchCase="2">
    Current Page is Three
  </div>
  <div *ngSwitchCase="3">
    Current Page is Four
  </div>
  <div *ngSwitchDefault>
    Current Page is greater than Four
  </div>
</div>
